.or-button
  width: 120px
  padding: 10px
  border-radius: 20px
  background-color: $button-primary
  color: $text-light
  border: none
  cursor: pointer

.or-button-continue
  background-color: $button-primary

.or-button-goBack
  background-color: $button-ternary

.or-button-create
  background-color: $button-secondary
