/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body
  font-family: sans-serif
  margin: 0
  padding: 0

.content
  margin: 0 auto
  max-width: 500px

.App
  text-align: center

.App-logo
  animation: App-logo-spin infinite 20s linear
  height: 80px

.App-header
  background-color: #222
  color: #fff
  height: 150px
  padding: 20px

.App-intro
  font-size: large

.Step
  display: flex

.Frame
  border: 1px solid #000
  margin: 20px auto
  width: 450px

  img
    width: 400px
